@{
    ViewBag.Title = "BankAccount Deatails";
}
<script src="~/Areas/Admin/Content/Pages/BankAccount/BankAccountList.js"></script>
<input type="hidden" id="hdnSearchType_BAL" value="1" />
<input type="hidden" id="hdnCurrentPage_BAL" value="1" />
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <div class="row">
            <div class="breadcrumb">
                <h4 class="">Bank Account Details</h4>
            </div>
            <div class="col-md-12  pr0  properties-page">
                <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                    <div class="panel-heading">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h3 class="panel-title">Filter</h3>
                                <select id="ddlFilter_BankAccountList" class="form-control form-control-small">
                                    <option value="BankName">Bank Name</option>
                                    <option value="AccountType">Account Type</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h3 class="panel-title">Criteria</h3>
                                <input id="txtCriteria_BankAccountList" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group  padding-top-25">
                                <button class='btn btn-next btn-primary' name='Search' value='Search' style="text-transform:uppercase" onclick="buildPaganationBankAccountList(1)"><i class="glyphicon glyphicon-search"></i> Search</button>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group  padding-top-25">
                                <button type="button" class="btn btn-success float-right " id="btnSaveUpdate" style="text-transform:uppercase" onclick="addNewBankAccount()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-plus"></i> <span id="spanSaveUpdate"> NEW</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group" id="divPagination_BankAccountList">
                        <div id="divPgn" class="col-sm-8 pagination">
                            <ul id="ulPagination_BankAccountList"></ul>
                        </div>
                        <div class="col-sm-3 padding-0 pull-right">
                            <div class="col-sm-6">
                                <label class="control-label">Row/Page</label>
                            </div>
                            <div class="col-sm-6">
                                <select id="ddlRPP_BankAccountList" class="form-control form-control-small"></select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body search-widget">
                        <div class="col-md-12 clear">
                            <table id="tblBankAccountList" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="background-color: #c7cdd566;color:#3d3939">Sr. No.</th>
                                        <th style="background-color: #c7cdd566;color:#3d3939">Bank Name</th>
                                        <th style="background-color: #c7cdd566;color:#3d3939">Account No.</th>
                                        <th style="background-color: #c7cdd566;color:#3d3939">Account Type</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
