@{
    ViewBag.Title = (ViewBag.CityID == 0 ? "Add" : "Edit") + " State";
    var cityID = ViewBag.CityID;
    var pageTitle = (ViewBag.CityID == 0 ? "Add State" : "Edit State");

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Areas/Admin/Content/Pages/State/State.js")"></script>

<input type="hidden" id="hndStateID" value="0" />
<input type="hidden" id="hdnSearchType" value="1" />
<input type="hidden" id="hdnCurrentPage" value="1" />
<input type="hidden" id="hndPageNo" value="0" />
@*<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container" style="width:100% !important">
        <div class="breadcrumb">
            <h4 class="">Add / Edit State  </h4>
        </div>
        <div class="form-group clearfix panel">
            <div class="col-md-7">
                <div class="form-inline clearfix panel">
                    <div class="form-group col-md-2 padding-5">
                        <label class="control-label" style="padding:0px 5px;">Enter Criteria</label>
                    </div>
                    <div class="form-group col-md-4 padding-5">
                        <input type="text" id="txtCriteriaState" name="Criteria" class="form-control form-control-small" />
                    </div>
                    <div class="form-group col-md-2 padding-5">
                        <button id="btnSearchState" class="btn btn-primary" style="margin-left:-10px; height:34px" onclick="buildPaganationStateList(1)"><i class="glyphicon glyphicon-search"></i> SEARCH</button>
                        <button id="btnGoToState" class="btn btn-success pull-right hidden" style="margin-right:15px;" onclick="goToState()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-arrow-circle-o-right"></i> Go to</button>
                    </div>
                    <div class="form-group col-md-2 padding-5 text-right">
                        <label id="lblRPP_State" class="control-label">Row/Page</label>
                    </div>
                    <div class="form-group col-md-2 padding-5">
                        <select id="ddlRPP_State" class="form-control form-control-small"></select>
                    </div>
                </div>
                <div class="form-inline clearfix panel" id="divPagination_State" style="cursor:pointer;">
                    <div id="divPgn" class="col-sm-12 pagination">
                        <ul id="ulPagination_State"></ul>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <table id="tblState" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939;cursor:pointer;width:45%" title="Sort" onclick="sortTable('stateName')">State Name <i id="sortStateIcon" class=""></i></th>
                                <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939;width:25%">Abbreviation</th>
                                <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939;width:30%">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 padding-5">
                    <div class="form-group pull-right clearfix" >
                        <button type="button" class="btn btn-primary" id="btnNewCity" onclick="clearStateData()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-plus"></i> NEW</button>
                        <button type="button" class="btn btn-primary" id="btnSaveUpdateCity" onclick="saveUpdateState()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-save"></i> <span id="spanSaveUpdate">SAVE</span></button>
                    </div>
                </div>
                <div class="form-group clearfix padding-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="firstname" class="star">State Name</label>
                                <input class="form-control form-control-small" id="txtStateName" maxlength="100" />
                            </div>
                            <div class="form-group">
                                <label for="lastname">State Abbreviation</label>
                                <input class="form-control form-control-small" id="txtAbbreviation" maxlength="2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="container-fluid" style="margin-top:40px; background-color:rgb(249, 249, 249);">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="breadcrumb">
                <h4 class="">Add / Edit State  </h4>
            </div>
            <div class="row">
                <div class="form-group clearfix panel">
                    <div class="col-md-7">
                        <div class="form-inline clearfix panel">
                            <div class="form-group col-md-2 padding-5">
                                <label class="control-label" style="padding:0px 5px;">Enter Criteria</label>
                            </div>
                            <div class="form-group col-md-4 padding-5">
                                <input type="text" id="txtCriteriaState" name="Criteria" class="form-control form-control-small" />
                            </div>
                            <div class="form-group col-md-2 padding-5">
                                <button id="btnSearchState" class="btn btn-primary" style="height:34px" onclick="buildPaganationStateList(1)"><i class="glyphicon glyphicon-search"></i> SEARCH</button>
                                <button id="btnGoToState" class="btn btn-success pull-right hidden" style="margin-right:15px;" onclick="goToState()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-arrow-circle-o-right"></i> Go to</button>
                            </div>
                            <div class="form-group col-md-2 padding-5 text-right">
                                <label id="lblRPP_State" class="control-label">Row/Page</label>
                            </div>
                            <div class="form-group col-md-2 padding-5">
                                <select id="ddlRPP_State" class="form-control form-control-small"></select>
                            </div>
                        </div>
                        <div class="form-inline clearfix panel" id="divPagination_State" style="cursor:pointer;">
                            <div id="divPgn" class="col-sm-12 pagination">
                                <ul id="ulPagination_State"></ul>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <table id="tblState" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939;cursor:pointer;width:45%" title="Sort" onclick="sortTable('stateName')">State Name <i id="sortStateIcon" class=""></i></th>
                                        <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939;width:25%">Abbreviation</th>
                                        <th class="pds-cityname" style="background-color: #c7cdd566;color:#3d3939;width:30%">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-12 padding-5">
                            <div class="form-group pull-right clearfix">
                                <button type="button" class="btn btn-primary" id="btnNewCity" onclick="clearStateData()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-plus"></i> NEW</button>
                                <button type="button" class="btn btn-primary" id="btnSaveUpdateCity" onclick="saveUpdateState()"><i class="fa fa-spinner fa-spin hidden"></i><i class="fa fa-save"></i> <span id="spanSaveUpdate">SAVE</span></button>
                            </div>
                        </div>
                        <div class="form-group clearfix padding-5">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="firstname" class="star">State Name</label>
                                        <input class="form-control form-control-small" id="txtStateName" maxlength="100" />
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">State Abbreviation</label>
                                        <input class="form-control form-control-small" id="txtAbbreviation" maxlength="2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@*<style>
    .k-button {
        line-height: 1.5em !important;
    }

    .gridbtn {
        background-color: #e0e0e0;
        font-size: 12px;
        padding: 3px 4px !important;
    }

    .btn {
        border-radius: 3px;
        padding: 3px 12px;
        font-size: 12px;
    }
</style>*@