
@{
    ViewBag.Title = "Index";
    DateTime now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, 1);
    var endDate = startDate.AddMonths(1).AddDays(-1);
}

<script src="~/Areas/Admin/Content/Pages/AmenitiesSlot/AmenitiesSlotList.js"></script>
<input type="hidden" id="hdnSearchType_EL" value="1" />
<input type="hidden" id="hdnCurrentPage_EL" value="1" />
@*<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container" style="width:100%">
        <div class="row">
            <div class="breadcrumb">
                <h4 class="">Amenity Slot List</h4>
            </div>

            <div class="col-md-12  pr0  properties-page">
                <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                    <div class="panel-heading">
                        <div class="col-sm-3">
                            <h3 class="panel-title input-group">From Date</h3>
                            <div class="input-group">
                                <input id="txtFromDate" type="text" class="form-control" value="@startDate.ToString("MM/dd/yyyy")">
                                <span class="input-group-btn">
                                    <button id="iconFromDate" class="btn btn-primary search" type="button" style="height:34px !important"><i class="fa-calendar fa"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h3 class="panel-title input-group">To Date</h3>
                            <div id="divToDate" class="input-group">
                                <input id="txtToDate" placeholder="MM/DD/YYYY" class="form-control form-control-small" type="text" value="@endDate.ToString("MM/dd/yyyy")" />
                                <span id="spTodate" class="input-group-btn">
                                    <button id="iconToDate" class="btn btn-primary search" type="button" style="height:34px !important"><i class="fa-calendar fa"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group  padding-top-25">
                                <button class='btn btn-next btn-primary' name='Search' value='Search' style="margin-left: 40px;height: 34px;margin-top: 2px;" onclick="buildPaganationSlotList(1)"><i class="glyphicon glyphicon-search"></i> SEARCH</button>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group  padding-top-25">
                                <button type="button" class="btn btn-success pull-right" id="btnSaveUpdate" onclick="addNewSlot()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-plus"></i> <span id="spanSaveUpdate">NEW</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group" id="divPagination_SlotList">
                        <div id="divPgn" class="col-sm-8 pagination">
                            <ul id="ulPagination_SlotList"></ul>
                        </div>
                        <div class="col-sm-3 padding-0 pull-right" style="margin-top:22px">
                            <div class="col-sm-6">
                                <label class="control-label" style="margin-left:52px;">Row/Page</label>
                            </div>
                            <div class="col-sm-6">
                                <select id="ddlRPP_SlotList" class="form-control form-control-small"></select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body search-widget">
                        <div class="col-md-12 clear">
                            <table id="tblSlot" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="40%" style="background-color: #c7cdd5;color:#3d3939;cursor:pointer;" title="Sort" onclick="sortTableAmenitiesSlot('AmenityName')">Amenity <i id="SortIconAmenities"></i></th>
                                        <th width="20%" style="background-color: #c7cdd5;color:#3d3939;cursor:pointer;" title="Sort" onclick="sortTableAmenitiesSlot('DurationName')">Duration <i id="SortIconDuration"></i></th>
                                        <th width="20%" style="background-color: #c7cdd5;color:#3d3939;cursor:pointer;" title="Sort" onclick="sortTableAmenitiesSlot('DepositFeeName')">Deposit Fee <i id="SortIconDepositFeeName"></i></th>
                                        <th width="20%" style="background-color: #c7cdd5;color:#3d3939;cursor:pointer;" title="Sort" onclick="sortTableAmenitiesSlot('ReservationFeeName')">Reservation Fee <i id="SortIconReservationFeeName"></i></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>*@
<div class="container-fluid" style="margin-top:40px; background-color:rgb(249, 249, 249);">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="breadcrumb">
                <h4 class="">Amenity Slot List</h4>
            </div>
            <div class="row">
                <div class="col-md-12  pr0  properties-page">
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                        <div class="panel-heading">
                            <div class="col-sm-3">
                                <h3 class="panel-title input-group">From Date</h3>
                                <div class="input-group">
                                    <input id="txtFromDate" type="text" class="form-control" value="@startDate.ToString("MM/dd/yyyy")">
                                    <span class="input-group-btn">
                                        <button id="iconFromDate" class="btn btn-primary search" type="button" style="height:34px !important"><i class="fa-calendar fa"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h3 class="panel-title input-group">To Date</h3>
                                <div id="divToDate" class="input-group">
                                    <input id="txtToDate" placeholder="MM/DD/YYYY" class="form-control form-control-small" type="text" value="@endDate.ToString("MM/dd/yyyy")" />
                                    <span id="spTodate" class="input-group-btn">
                                        <button id="iconToDate" class="btn btn-primary search" type="button" style="height:34px !important"><i class="fa-calendar fa"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group  padding-top-25">
                                    <button class='btn btn-next btn-primary' name='Search' value='Search' style="margin-left: 40px;height: 34px;margin-top: 2px;" onclick="buildPaganationSlotList(1)"><i class="glyphicon glyphicon-search"></i> SEARCH</button>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group  padding-top-25">
                                    <button type="button" class="btn btn-success pull-right" id="btnSaveUpdate" onclick="addNewSlot()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-plus"></i> <span id="spanSaveUpdate">NEW</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group" id="divPagination_SlotList">
                            <div id="divPgn" class="col-sm-8 pagination">
                                <ul id="ulPagination_SlotList"></ul>
                            </div>
                            <div class="col-sm-3 padding-0 pull-right" style="margin-top:22px">
                                <div class="col-sm-6">
                                    <label class="control-label" style="margin-left:52px;">Row/Page</label>
                                </div>
                                <div class="col-sm-6">
                                    <select id="ddlRPP_SlotList" class="form-control form-control-small"></select>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body search-widget">
                            
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <table id="tblSlot" class="table table-bordered table-hover table-striped clear table-responsive" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th width="40%" style="background-color: #c7cdd5;color:#3d3939;cursor:pointer;" title="Sort" onclick="sortTableAmenitiesSlot('AmenityName')">Amenity <i id="SortIconAmenities"></i></th>
                                <th width="20%" style="background-color: #c7cdd5;color:#3d3939;cursor:pointer;" title="Sort" onclick="sortTableAmenitiesSlot('DurationName')">Duration <i id="SortIconDuration"></i></th>
                                <th width="20%" style="background-color: #c7cdd5;color:#3d3939;cursor:pointer;" title="Sort" onclick="sortTableAmenitiesSlot('DepositFeeName')">Deposit Fee <i id="SortIconDepositFeeName"></i></th>
                                <th width="20%" style="background-color: #c7cdd5;color:#3d3939;cursor:pointer;" title="Sort" onclick="sortTableAmenitiesSlot('ReservationFeeName')">Reservation Fee <i id="SortIconReservationFeeName"></i></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#iconFromDate").click(function () {
            $("#txtFromDate").focus();
        });
        $("#iconToDate").click(function () {
            $("#txtToDate").focus();
        });

        var dtstart = new Date();
        dtstart.setFullYear(new Date().getFullYear() - 100);
        var dtend = new Date();
        dtend.setFullYear(new Date().getFullYear() + 100);
        var ndt = new Date($("#txtFromDate").val());
        ndt.setFullYear(new Date().getFullYear() + 100);
        var sdt = new Date($("#txtFromDate").val());
        sdt.setFullYear(new Date().getFullYear() + 0);
        $("#txtToDate").datepicker({ format: "mm/dd/yyyy", weekStart: 0, startDate: sdt, endDate: ndt, maxViewMode: 2, autoclose: true });
        $('#txtFromDate').datepicker({ format: "mm/dd/yyyy", weekStart: 0, startDate: dtstart, endDate: dtend, maxViewMode: 2, autoclose: true }).on('change', function (ev) {
            changeDate();
        });
    });
    var changeDate = function () {
        $("#txtToDate").val("");
        var ndt = new Date($("#txtFromDate").val());
        ndt.setFullYear(new Date().getFullYear() + 100);
        var sdt = new Date($("#txtFromDate").val());
        sdt.setFullYear(new Date().getFullYear() + 0);
        $("#txtToDate").remove();
        $("#spTodate").remove();
        var html = '<input id="txtToDate" placeholder="MM/DD/YYYY" class="form-control form-control-small" type="text" value="" />';
        html += '<span id="spTodate" class="input-group-btn">';
        html += '<button id="iconToDate" class="btn btn-primary search" type="button" style="height:34px !important"><i class="fa-calendar fa"></i></button>';
        html += '</span>';
        $("#divToDate").append(html);
        $("#txtToDate").datepicker({ format: "mm/dd/yyyy", weekStart: 0, startDate: sdt, endDate: ndt, maxViewMode: 2, autoclose: true });
    }
</script>

