
@{
    ViewBag.Title = "Prospect List";
    DateTime now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, 1);
    var endDate = startDate.AddMonths(1).AddDays(-1);
}

<script src="~/Areas/Admin/Content/Pages/ProspectManagement/ProspectList.js"></script>
<input type="hidden" id="hdnSearchType" value="1" />
<input type="hidden" id="hdnCurrentPage" value="1" />
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container" style="width:100%!important">
        <div class="row">
            <div class="breadcrumb">
                <h4 class="">Appointment List</h4>
            </div>
            <div class="col-md-12  pr0  properties-page">
                <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                    <div class="panel-heading">
                        <div class="col-sm-3">
                            <h3 class="panel-title input-group">From Date</h3>
                            <div class="input-group">
                                <input id="txtFromDate" type="text" class="form-control" value="@startDate.ToString("MM/dd/yyyy")">
                                <span class="input-group-btn">
                                    <button id="iconFromDate" class="btn btn-primary search" type="button" style="height:34px !important"><i class="fa-calendar fa"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h3 class="panel-title input-group">To Date</h3>
                            <div id="divToDate" class="input-group">
                                <input id="txtToDate" placeholder="MM/DD/YYYY" class="form-control form-control-small" type="text" value="@endDate.ToString("MM/dd/yyyy")" />
                                <span id="spTodate" class="input-group-btn">
                                    <button id="iconToDate" class="btn btn-primary search" type="button" style="height:34px !important"><i class="fa-calendar fa"></i></button>
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group  padding-top-25">
                                <button class='btn btn-next btn-primary' name='Search' value='Search' style="text-transform:uppercase" onclick="buildPaganationProspectList(1)"><i class="glyphicon glyphicon-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group" id="divPagination_ProspectList">
                        <div id="divPgn" class="col-sm-8 pagination">
                            <ul id="ulPagination_ProspectList"></ul>
                        </div>
                        <div class="col-sm-3 padding-0 pull-right" style="margin-top: 21px;">
                            <div class="col-sm-6">
                                <label class="control-label">Row/Page</label>
                            </div>
                            <div class="col-sm-6">
                                <select id="ddlRPP_ProspectList" class="form-control form-control-small"></select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body search-widget">
                        <div class="col-md-12 clear">
                            <table id="tblProspect" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableAppo('FirstName')">First Name<i id="SortIconFN"></i></th>
                                        <th style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableAppo('LastName')">Last Name<i id="SortIconLN"></i></th>
                                        <th style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableAppo('PhoneNo')">Phone No.<i id="SortIconPNo"></i></th>
                                        <th style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableAppo('EmailId')">Email<i id="SortIconEmail"></i></th>
                                        <th style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableAppo('VisitDateTime')">Date<i id="SortIconDate"></i></th>
                                        <th style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableAppo('AssignAgentId')">Assign Agent<i id="SortIconAA"></i></th>
                                        <th style="background-color: #c7cdd566;color:#3d3939; cursor:pointer" onclick="sortTableAppo('AppointmentStatus')">Status<i id="SortIconStatus"></i></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                    <style unselectable="on">
                        #wrap {
                            width: 1400px;
                            height: 900px;
                            padding: 0;
                            position: relative;
                            left: 0px;
                            top: 0px;
                            right:0px;
                            overflow: hidden;
                        }

                        #frame {
                            width: 1400px;
                            height: 900px;
                            position: relative;
                            left: 0px;
                            top: 0px;
                            right: 0px;
                        }

                        #frame {
                            -ms-zoom: 0.7;
                        }
                    </style>
                    <div id="wrap" unselectable="on">
                        <iframe id="frame" src="https://outlook.office365.com/owa/calendar/f2994f3493a749e1b0b87b4bef7ae4b9@thinkerstepsTech.onmicrosoft.com/641badb756d744eb91a858a374f4783215314649214297281398/calendar.html"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#iconFromDate").click(function () {
            $("#txtFromDate").focus();
        });
        $("#iconToDate").click(function () {
            $("#txtToDate").focus();
        });

        var dtstart = new Date();
        dtstart.setFullYear(new Date().getFullYear() - 100);
        var dtend = new Date();
        dtend.setFullYear(new Date().getFullYear() + 100);
        var ndt = new Date($("#txtFromDate").val());
        ndt.setFullYear(new Date().getFullYear() + 100);
        var sdt = new Date($("#txtFromDate").val());
        sdt.setFullYear(new Date().getFullYear() + 0);
        $("#txtToDate").datepicker({ format: "mm/dd/yyyy", weekStart: 0, startDate: sdt, endDate: ndt, maxViewMode: 2, autoclose: true });
        $('#txtFromDate').datepicker({ format: "mm/dd/yyyy", weekStart: 0, startDate: dtstart, endDate: dtend, maxViewMode: 2, autoclose: true }).on('change', function (ev) {
            changeDate();
        });
    });
    var changeDate = function () {
        $("#txtToDate").val("");
        var ndt = new Date($("#txtFromDate").val());
        ndt.setFullYear(new Date().getFullYear() + 100);
        var sdt = new Date($("#txtFromDate").val());
        sdt.setFullYear(new Date().getFullYear() + 0);
        $("#txtToDate").remove();
        $("#spTodate").remove();
        var html = '<input id="txtToDate" placeholder="MM/DD/YYYY" class="form-control form-control-small" type="text" value="" />';
        html += '<span id="spTodate" class="input-group-btn">';
        html += '<button id="iconToDate" class="btn btn-primary search" type="button" style="height:34px !important"><i class="fa-calendar fa"></i></button>';
        html += '</span>';
        $("#divToDate").append(html);
        $("#txtToDate").datepicker({ format: "mm/dd/yyyy", weekStart: 0, startDate: sdt, endDate: ndt, maxViewMode: 2, autoclose: true });
    }
</script>
