
@{

}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="~/Home/Index"><img src="~/content/assets/img/logo.png" width="300" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
            <div class="button navbar-right">
               
            </div>

        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<div class="content-area submit-property" style="background-color: #FCFCFC;">
    <br /><br /><br />
    <div class="container">
        <div class="wizard-container">
            <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                <div>
                    <div class="wizard-header">
                        <h3>
                            <b><span id="txtname"></span>  Sign Now  </b> <br>
                        </h3>
                    </div>
                    <div class="tab-content">
                        <div class="" id="step1">
                            <div id="blumoonLease"  style="width:100% !important">

                              
                                    <div class="text-center">
                                        <div><iframe id="iframeBlummoon" src="" width="100%" height="750px" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                                    </div>
                               
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        var modalBlumoon = document.getElementById("blumoonLease");
        var url = "https://www-new.bluemoonforms.com/esignature/'@ViewBag.KeyV'";
        $("#blumoonLease iframe").attr("src", url);
        modalBlumoon.style.display = "block";
    });



</script>