<script src="~/Content/zabuto_calendar.js"></script>
<link href="~/Content/fileUpload.css" rel="stylesheet" />
<script src="~/Content/file-Upload.js"></script>
<script src="~/Content/assets/plugin/slimscroll/jquery.slimscroll.js"></script>
<script src="~/Areas/Tenant/Content/Pages/Dashboard/Dashboard.js"></script>
<script src="~/Content/jquery.shorten.1.0.js"></script>
<input id="hdnUserId" type="hidden" value="@ShomaRM.Models.ShomaGroupWebSession.CurrentUser.UserID" />
<input id="hndTenantID" type="hidden" value="@ShomaRM.Models.ShomaGroupWebSession.CurrentUser.TenantID" />
<input id="hndEventID" type="hidden" value="0" />

@*<div class="container container-box">*@
@*<div class="row">*@
<!-----Left section---->

    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-12 center"><h3 class="welcome-text">WELCOME HOME</h3></div>
            <div class="col-lg-12">
                <textarea id="txtCommunityActivity" style="width:100%" placeholder="Share something with your neighbors..."></textarea>
            </div>
            <div class="row">
                <div class="col-md-12 m-t10">
                    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-2 pull-right box-padding box-width">
                        <div class="pull-right">
                            <label for="fileCommunityActivity" class=" btn btn-primary"><i class="fa fa-paperclip"></i></label>
                            <input type="file" name="fileCommunityActivity" id="fileCommunityActivity" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" />
                            <input type="hidden" id="hndfileCommunityActivity" />
                            <input type="hidden" id="hndfileCommunityActivityOriginalName" />
                            <button type="button" class=" btn btn-primary" onclick="saveUpdateCommunityPost();">Post</button>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 pull-right box-padding1 box-width" id="disclaimerCommunity">

                        <div class="pull-right">
                            <input id="chkDisclaimer" type="checkbox" class="form-control" style="font-size:11pt;" /> <span class="agree-text">I agree to the</span>   <a style="cursor:pointer" id="ShowDisclaimer" href="javascript:void(0);" class="condition-text">Terms & Condition</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-----Community Activity section---->
    <div class="row margin">
        <div class="col-md-12">
            <div class="col-md-12">
            <h3 class="headding-sub-text">Community Activity</h3>
            </div>

            <!-----Community-image-and -name-box---->

            <div class="col-md-12" >
                <div class="Activity-box p-l5 p-r0">
                    <div class="Activity-box-inner myBox">


                        <div id="DivCommunityActivityList">

                        </div>


                    </div>
                </div>
               
            </div>
        </div>

        <!-----Community Activity section---->

        <div class="col-md-12">
            <!-----Community-image-and -name-box---->
            <div class="col-md-12 ">
                <div class="calender-box  p-a0">
                    <div class="row">
                        <!-----calendar section---->

                        <div class="col-lg-8 col-md-12 col-sm-12 padding-box margin">
                            <h3 class="headding-sub-text">Community Calendar</h3>
                            <span id="spanEventCalender"></span>


                            <ul class="calendar-menu">
                                <li><span class="dot-1"></span>Neighborhood</li>
                                <li><span class="dot-2"></span>Community</li>
                                <li><span class="dot-3"></span>Service</li>
                                <li><span class="dot-4"></span>Other</li>
                                <li><span class="dot-5"></span>Current Date</li>
                            </ul>


                        </div>

                        <!-----calendar section-end--->
                        <!-----Upcoming Events--->
                        <div class="col-lg-4 col-md-12 col-sm-12 padding-box ">
                            <h3 class="headding-sub-text">Upcoming Events</h3>

                            <div class="Wraper m-b10 ">
                                <div id="divEvents">

                                </div>
                            </div>



                        </div>

                        <!-----Upcoming Events-End-->

                    </div>
                </div>
               
            </div>
        </div>
        <!-----Community Activity section-End--->
    </div>
    <!-----Left section--End-->
    @*</div>*@
    @*</div>*@
    <div class="modal" id="popRateOpinion" style="padding-right: 370px !important;">
        <div class="modal-dialog">
            <div class="modal-content" style="width:100%; height:215px;text-align: center;">
                <button type="button" class="close" data-dismiss="modal" style="margin-top: -25px; margin-right: -16px;">&times;</button>
                <!-- Modal body -->
                <div class="modal-body">
                    <p>
                        We want your opinion! Would you take a moment to tell us how we are doing?<br />
                        Would you recommend us to a friend?
                    </p>
                    <p style="text-align:center;margin-top: -2%;cursor:pointer">
                        <div id="ratingButtons" class="text-center" style="margin-bottom:15px;">
                            <button id="rtbtn0" class="btn btn-add-on">0</button>
                            <button id="rtbtn1" class="btn btn-add-on">1</button>
                            <button id="rtbtn2" class="btn btn-add-on">2</button>
                            <button id="rtbtn3" class="btn btn-add-on">3</button>
                            <button id="rtbtn4" class="btn btn-add-on">4</button>
                            <button id="rtbtn5" class="btn btn-add-on">5</button>
                            <button id="rtbtn6" class="btn btn-add-on">6</button>
                            <button id="rtbtn7" class="btn btn-add-on">7</button>
                            <button id="rtbtn8" class="btn btn-add-on">8</button>
                            <button id="rtbtn9" class="btn btn-add-on">9</button>
                            <button id="rtbtn10" class="btn btn-add-on" style="margin-right:0px !important">10</button>
                        </div>
                    </p>
                    <span class="pull-left" style="margin-left:1%;margin-top: -5%;">Not at all</span>
                    <span class="pull-right" style="margin-right:1%;margin-top: -5%;">Most Likely</span>
                    <button class="btn btn-default" data-dismiss="modal" id="btnskip">Skip</button>
                </div>
            </div>
        </div>
    </div>



    <div id="modalDisclaimer" class="modal" style="width:100% !important">
        <div class="modal-header">
            <span class="close" id="TermDisclaimer" style="margin-top: -10px !important;margin-right: 480px !important;font-size:30px !important;">&times;</span>
        </div>
        <!-- Modal content -->
        <div class="modal-content" style="width:66% !important">
            <div class="text-center">
                <div><iframe src="~/Content/assets/img/Document/Disclaimer.pdf" width="950" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
    <div class="modal" id="popPaymentBreakdown">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 47%; height:560px;">
                <button type="button" class="close" data-dismiss="modal" style="margin-top: -25px; margin-right: -16px;">&times;</button>
                <div class="modal-header center">
                    <h3 class="modal-title">Payment Details</h3>
                </div>
                <!-- Modal body -->
                <div class="modal-body table-bordered">
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label>Monthly Charges :</label>
                                <label id="lblMonthlyChargesBreakdown" style="font-weight:bold;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label>Additional Parking :</label>
                                <label id="lblAdditionalParkingBreakdown" style="font-weight:bold;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label>Storage Charges :</label>
                                <label id="lblStorageChargesBreakdown" style="font-weight:bold;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label>Pet Rent :</label>
                                <label id="lblPetRentBreakdown" style="font-weight:bold;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label>Trash/Recycle :</label>
                                <label id="lblTrashRecycleBreakdown" style="font-weight:bold;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label>Pest Control :</label>
                                <label id="lblPestControlBreakdown" style="font-weight:bold;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label>Convergent Billing :</label>
                                <label id="lblConvergentBillingBreakdown" style="font-weight:bold;"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label style="color:green;font-weight:bold">Total Monthly Charges :</label>
                                <label id="lblTotalMonthlyChargesBreakdown" style="color:green;font-weight:bold;text-decoration:underline;"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="popEventDetails">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 100%;">

                <div class="modal-header center">
                    <h3 class="modal-title">Event Detail</h3>
                    <button type="button" class="close pull-right" data-dismiss="modal" style="margin-top: -30px;">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body table-bordered">
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label id="lblEventName" style="font-size:25px;text-decoration:underline"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-5" style="margin-left:4px;">
                                <div class="form-group">
                                    <label style="font-weight:bold;">Date :</label>
                                    <label id="lblEventDate" style="font-weight:bold;"></label>
                                </div>
                            </div>
                            <div class="col-sm-5 pull-right">
                                <div class="form-group" style="margin-left: 104px;">
                                    <label style="font-weight:bold;">Time :</label>
                                    <label id="lblEventTime" style="font-weight:bold;"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <label id="lblEventDetail" style="margin-right: 35px;text-align: justify;"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
                        <button type="button" id="requestToJoin" class="btn btn-primary pull-right hidden" style="margin-right: 10px;" onclick="saveTenantEventsJoin()">Join Event</button>
                        <button type="button" id="requestToUnjoin" class="btn btn-primary pull-right hidden" style="margin-right: 10px;" onclick="saveTenantEventsUnjoin()">Un-join Event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="date-popover">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 80%;">
                <div class="modal-header center">
                    <h3 class="modal-title">Event's</h3>
                    <button type="button" class="close pull-right" id="closeDate" data-dismiss="modal" style="margin-top: -30px;">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body table-bordered">
                    <div class="row">
                        <div class="col-sm-12" style="margin-left:20px;">
                            <div class="form-group">
                                <div id="divEventsCal" class="tab-content1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary pull-right" id="closeDate1" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        @*</div>*@






        @*<div class="content-area submit-property" style="background-color: #FCFCFC;">
            &nbsp;*@
        @*<style>

                .tab-content ul {
                    background-color: #c7d5c733;
                }

                    .tab-content ul li {
                        margin-right: 2px;
                        overflow: hidden;
                        background-color: #a4a9a433;
                        border-radius: 5%;
                    }

                .nav {
                    padding-left: 0;
                    list-style: none;
                }

                .tab-content1 ul {
                    background-color: #4d738a;
                    color: #dfe4e8;
                }

                    .tab-content1 ul li a {
                        color: #B7B0A7;
                    }




                .tab-content.wizard li {
                    width: 100%;
                    float: none;
                    margin-bottom: 0px;
                }

                    .tab-content.wizard li > * {
                        position: relative;
                        padding: 1em .8em .8em 1.5em;
                        color: #ffffff;
                        background-color: #B4ADA5;
                        border-color: #B4ADA5;
                    }

                    .tab-content.wizard li.completed > * {
                        color: #fff !important;
                        background-color: #96c03d !important;
                        border-color: #96c03d !important;
                        border-bottom: none !important;
                    }

                .tab-content li.active > * {
                    color: #fff !important;
                    background-color: #4d738a !important;
                    border-color: #4d738a !important;
                    border-bottom: none !important;
                    margin-bottom: 0px;
                }

                .tab-content.wizard li::after:last-child {
                    border: none;
                    border-bottom-left-radius: 0px;
                }

                .tab-content.wizard > li > a {
                    opacity: 1;
                    font-size: 14px;
                }

                .tab-content.wizard a:hover {
                    color: #fff;
                    background-color: #4d738a;
                    border-color: #4d738a
                }

                span.nmbr {
                    display: inline-block;
                    padding: 10px 0 0 0;
                    background: #ffffff;
                    width: 35px;
                    line-height: 100%;
                    height: 35px;
                    margin: auto;
                    border-radius: 50%;
                    font-weight: bold;
                    font-size: 16px;
                    color: #555;
                    margin-bottom: 10px;
                    text-align: center;
                }

                @@media(min-width:992px) {
                    .tab-content.wizard li {
                        position: relative;
                        padding: 0;
                        /*margin: 4px 4px 4px 0;*/
                        width: 19.6%;
                        float: left;
                        text-align: center;
                    }

                    .nav-tabs.wizard li.active a {
                        padding-top: 15px;
                    }

                    .tab-content.wizard li::after, .nav-tabs.wizard li > ::after {
                        content: '';
                        position: absolute;
                        top: -1px;
                        left: 100%;
                        height: 0;
                        width: 0;
                        border: 24px solid transparent;
                        border-right-width: 24px;
                        border-left-color: transparent;
                        border-right-width: 0;
                        border-left-width: 20px;
                    }

                    .tab-content.wizard li::after {
                        z-index: 1;
                        -webkit-transform: translateX(4px);
                        -moz-transform: translateX(4px);
                        -ms-transform: translateX(4px);
                        -o-transform: translateX(4px);
                        transform: translateX(4px);
                        border-left-color: #fff;
                        margin: 0
                    }

                    .tab-content.wizard li > *::after {
                        z-index: 2;
                        border-left-color: inherit
                    }

                    .tab-content.wizard > li:nth-of-type(1) > a {
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;
                    }

                    .tab-content.wizard li:last-child a {
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }

                    .tab-content.wizard li:last-child {
                        margin-right: 0;
                    }

                    .nav-tabs.wizard li:last-child a:after,
                    .nav-tabs.wizard li:last-child:after {
                        content: "";
                        border: none;
                    }

                    span.nmbr {
                        display: block;
                    }
                }

                .wizard-card {
                    border: groove;
                    border-color: black;
                }

                .btn-blue {
                    background-color: #4d738a;
                    color: #fff;
                }

                    .btn-blue:hover {
                        background-color: #B7B0A7;
                        color: #fff;
                    }

                hr {
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                    border: 0;
                    border-top: 1px solid #bebdbd;
                }

                .select-unit {
                    background-color: #4d738a !important;
                    color: #fff !important;
                }

                    .select-unit a {
                        color: #fff !important;
                    }
                /*.badge {
                        font-size:14px !important;
                        color:#000 !important;
                        background-color: #fff !important;
                        border-radius: 5px !important;
                    }*/

                .tab-content1 ul {
                    background-color: transparent !important;
                    color: black !important;
                }

                .tab-content ul li {
                    background-color: transparent !important;
                }

                .colorNeigh {
                    background-color: #00bfff !important;
                    padding: 5px !important;
                }

                .neighbor {
                    background: linear-gradient(110deg, #00bfff 60%, #a2d900 60%);
                }

                .colorCommu {
                    background-color: #a2d900 !important;
                    padding: 5px !important;
                    /*background: linear-gradient(to right, #a2d900, #00bfff 100%, #293f50);*/
                }

                .colorOther {
                    background-color: #ff6 !important;
                    padding: 5px !important;
                }

                .colorMulti {
                    background-color: #ff6347 !important;
                    padding: 5px !important;
                }

                .colorCurrDate {
                    background-color: #daf6ff !important;
                    padding: 5px !important;
                }

                .button-pill {
                    background-color: #ddd;
                    border: none;
                    color: black;
                    padding: 8px 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 0px -10px;
                    cursor: default;
                    border-radius: 16px;
                }


                .button-square {
                    background-color: #ddd;
                    border: none;
                    color: white;
                    padding: 8px 10px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    margin: 2px 0px;
                    cursor: default;
                }*/

                #EventCatogary button {
                    float: left;
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: #fff;
                    font-size: 9px;
                }

                /*div.zabuto_calendar .badge-event,
                div.zabuto_calendar div.legend span.badge-event {
                    background: #4D738A !important;
                    color: #fff;
                    text-shadow: none;
                }

                .zabuto_calendar .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                    line-height: 100% !important;
                    text-align: center;
                    width: 15%;
                }

                .affix {
                    position: fixed !important;
                    background-color: white !important;
                    z-index: 777 !important;
                    padding-right: 15px !important;
                }

                .calendar-month-header {
                    background: #4D738A !important;
                    color: #fff;
                    text-shadow: none;
                    border: 1px solid #4D738A !important;
                }

                    .calendar-month-header td {
                        border: 1px solid #4D738A !important;
                    }

                .zabuto_calendar .table-bordered {
                    border: 3px solid #B7B0A7 !important;
                    height: 100% !important;
                }*/

                #ratingButtons .btn {
                    display: inline-block;
                    padding: 6px 12px;
                    margin-bottom: 2px;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    -ms-touch-action: manipulation;
                    touch-action: manipulation;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    background-image: none;
                    border: 3px solid transparent;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                    margin-right: 8px !important;
                }

                .ratingpoor {
                    background-color: red;
                }

                .ratingavg {
                    background-color: orange;
                }

                .ratinggood {
                    background-color: green;
                }
            </style>*@



































        <script>
            //$(document).ready(function () {
            //    $("#DivCommunityActivityList").slimScroll({
            //        width: '100%',
            //        height: '351px',
            //        size: '10px',
            //        color: '#4D738A',
            //        alwaysVisible: true,
            //        distance: '1px',
            //        railVisible: true,
            //        railColor: '#6C6E72',
            //        railOpacity: 0.2,
            //        wheelStep: 1,
            //        allowPageScroll: false,
            //        disableFadeOut: false
            //    });


            //});

            var modalTermcondition = document.getElementById("modalDisclaimer");

            var ShowTermcondition = document.getElementById("ShowDisclaimer");

            var spanTermcondition = document.getElementById("TermDisclaimer");

            ShowTermcondition.onclick = function () {
                modalTermcondition.style.display = "block";
            }


            spanTermcondition.onclick = function () {
                modalTermcondition.style.display = "none";
            }


            window.onclick = function (event) {
                if (event.target == modalTermcondition) {
                    modalTermcondition.style.display = "none";
                }
            }
        </script>
