
@{
    ViewBag.Title = "Index";
}

<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <div class="breadcrumb">
            <h4 class="">This is Shoma User </h4>
        </div>

    </div>
</div>

