
@{
    ViewBag.Title = "TenantIndex";
}

<script src="~/Content/Pages/Home.js"></script>
<div class="slide-2">
    <div class="slider-area">
        <div class="slider">
            <div id="bg-slider" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="../content/assets/img/slide2/1.jpg" alt="The Last of us">
                    <div class="col-xs-12 text-center search-form wow pulse">
                       
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <img src="../Content/assets/img/HomepageMsg.png" style="width:300px;height:300px;" />

                </div>


            </div>
        </div>
    </div>

</div>

