@{
    ViewBag.Title = "Tenant List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    DateTime now = DateTime.Now;
    var startDate = new DateTime(now.Year, now.Month, 1);
    var endDate = startDate.AddMonths(1).AddDays(-1);
}
<script src="~/Areas/Admin/Content/Pages/Tenant/TenantList.js"></script>

<!-- register-area -->
<input type="hidden" id="hdnSearchType" value="1" />
<input type="hidden" id="hdnCurrentPage" value="1" />
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container" style="width:100%!important">
        <div class="breadcrumb">
            <h4 class="">Tenant List </h4>
        </div>
        <div class="col-md-12  pr0  properties-page">
            <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                <div class="panel-heading">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <h3 class="panel-title">From Date</h3>
                            <input id="txtFromDate" type="text" class="form-control" value="@startDate.ToString("MM/dd/yyyy")">
                            <span class="input-group-btn" style="width:0% !important">
                                <button class="btn btn-primary search" type="button" id="iconFromDate" style="margin-top: -60px;margin-left: 292px;"><i class="fa-calendar fa"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <h3 class="panel-title">To Date</h3>
                            <input id="txtToDate" type="text" class="form-control"  value="@endDate.ToString("MM/dd/yyyy")">
                            <span class="input-group-btn" style="width:0% !important">
                                <button class="btn btn-primary search" type="button" id="iconToDate" style="margin-top: -60px;margin-left: 292px;"><i class="fa-calendar fa"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group padding-top-25 col-sm-4">
                            <button class='btn btn-next btn-primary' name='Search' value='Search' style="text-transform:uppercase;" onclick="btnSeachClick()"><i class="glyphicon glyphicon-search"></i> Search</button>
                        </div>
                        <div class="form-group padding-top-25 col-sm-8">
                            <button id="btnAdvanceSearch_TL" type="button" value="Advance Search" style="text-transform:uppercase;" class="btn btn-primary" onclick="openAdvSearchPopup_TL()"><i class="glyphicon glyphicon-search"></i> Advance Search</button>
                        </div>
                    </div>
                    @*<div class="col-sm-1">
                        <div class="form-group padding-top-25">
                            <button type="button" class="btn btn-primary pull-right" id="btnSaveUpdate" style="text-transform:uppercase;" onclick="addNewTenant()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon glyphicon-plus"></i> <span id="spanSaveUpdate">NEW</span></button>
                        </div>
                    </div>*@
                </div>
                <div id="divPaginationControl_TenantList" class="col-sm-12 form-group">
                    <div id="divPgn" class="col-sm-8 pagination">
                        <ul id="ulPagination_TenantList"></ul>
                    </div>
                    <div class="col-sm-3 padding-0 pull-right">
                        <div class="col-sm-6">
                            <label class="control-label">Row/Page</label>
                        </div>
                        <div class="col-sm-6">
                            <select id="ddlRPP_TenantList" class="form-control form-control-small"></select>
                        </div>
                    </div>
                </div>
                <div class="panel-body search-widget">
                    <div class="col-md-12 clear">
                        <table id="tblTenant" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="pds-firstname" style="background-color: #c7cdd566;color:#3d3939">First Name</th>
                                    <th class="pds-lastname" style="background-color: #c7cdd566;color:#3d3939">Last Name</th>
                                    <th class="pds-Tenantname" style="background-color: #c7cdd566;color:#3d3939">Property</th>
                                    <th class="pds-Tenanttype" style="background-color: #c7cdd566;color:#3d3939">Units</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="divAdvanceSearch_TL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title"><span id="linkTrackingHeader">Advance Search</span> </h5>
            </div>
            <div class="modal-body">
                <div class="form-group clearfix">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtFirstName_TL">First Name</label>
                                    <input class="form-control form-control-small" id="txtFirstName_TL" maxlength="50" value="" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtLastName_TL">Last Name</label>
                                    <input class="form-control form-control-small" id="txtLastName_TL" maxlength="50" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ddlGender_TL">Gender</label>
                                    <select id="ddlGender_TL" class="form-control form-control-small" style="width:100%!important">
                                        <option value="0">-Status-</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Transgender</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ddlMaritalStatus_TL">Marital Status</label>
                                    <select id="ddlMaritalStatus_TL" class="form-control form-control-small" style="width:100%!important">
                                        <option value="0">-Status-</option>
                                        <option value="1">Single</option>
                                        <option value="2">Married</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ddlState_TL">State</label>
                                    <select id="ddlState_TL" class="form-control form-control-small"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ddlCity_TL">City</label>
                                    <select id="ddlCity_TL" class="form-control form-control-small"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ddlProperty_TL">Property</label>
                                    <select id="ddlProperty_TL" class="form-control form-control-small"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ddlUnit_TL">Unit</label>
                                    <select id="ddlUnit_TL" class=" form-control form-control-small"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtSocialSecurity_TL">Social Security</label>
                                    <input class="form-control form-control-small" id="txtSocialSecurity_TL" maxlength="50" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="txtOccupation_TL">Occupation</label>
                                    <input class="form-control form-control-small" id="txtOccupation_TL" maxlength="50" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ddlOfficeState_TL">Office State</label>
                                    <select id="ddlOfficeState_TL" class="form-control form-control-small"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="ddlOfficeCity_TL">Office City</label>
                                    <select id="ddlOfficeCity_TL" class="form-control form-control-small"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-top-25">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-3"></div>
                            <div class="form-group col-sm-3">
                                <input id="btnAdvSearch_TL" type="button" value="Search" class="btn btn-primary fa-fa-search" onclick="btnAdvSearchTLClick()" />&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="form-group col-sm-3">
                                <input id="btnClose_TL" type="button" value="Cancel" class="btn btn-primary" onclick="closeTenantAdvSearch()" />
                            </div>
                            <div class="form-group col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#txtFromDate").datepicker();
        $("#iconFromDate").click(function () {
            $("#txtFromDate").focus();
        });
        $("#txtToDate").datepicker();
        $("#iconToDate").click(function () {
            $("#txtToDate").focus();
        });
    });
</script>