<log4net>

  <!-- This is a sample Log4Net config file that logs to a file. Custom Log4Net appenders can be added here to send logs to additional targets such as Mongo, Email, Stackify, etc. -->

  <root>
    <level value="ALL" />
    <appender-ref ref="BufferingForwardingAppender"/>
    <appender-ref ref="file"/>
    <appender-ref ref="AdoNetAppender"/>
  </root>

  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <!--<threshold value="ERROR" />-->
    <filter type="log4net.Filter.PropertyFilter">
      <key value="Dblogging" />
      <stringToMatch value="True" />
      <acceptOnMatch value="false" />
    </filter>
    <file type="log4net.Util.PatternString" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <staticLogFileName value="false"/>
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="20MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newlineDate - %date{dd MMM yyyy HH:mm:ss}%newlineLevel - %level%newlineUserAgent - %property{UserAgent}%newlineMessage - %message%n" />
    </layout>
  </appender>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender" >
    <filter type="log4net.Filter.PropertyFilter">
      <key value="Dblogging" />
      <stringToMatch value="True" />
      <acceptOnMatch value="true" />
    </filter>

    <!--<threshold value="ERROR" />-->
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionStringName value="Log4NetConnectionString" />
    <commandText value="INSERT INTO dbo.Log4NetLog ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level,@logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>


  <appender name='BufferingForwardingAppender' type='log4net.Appender.BufferingForwardingAppender'>
    <bufferSize value = '100'/>

  </appender>
</log4net>