USE [SkyWalkSolutions]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOfferList]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetOfferList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GetOfferList]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetNotesList]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetNotesList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GetNotesList]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetExportClientList]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetExportClientList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GetExportClientList]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDocumentList]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetDocumentList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GetDocumentList]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCountryList]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetCountryList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_GetCountryList]
GO
/****** Object:  StoredProcedure [dbo].[usp_FillStateDropDownListByCountryID]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_FillStateDropDownListByCountryID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[usp_FillStateDropDownListByCountryID]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[tbl_State]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_State]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_State]
GO
/****** Object:  Table [dbo].[tbl_RequestOffer]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RequestOffer]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_RequestOffer]
GO
/****** Object:  Table [dbo].[tbl_PrivatePerson]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_PrivatePerson]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_PrivatePerson]
GO
/****** Object:  Table [dbo].[tbl_Notes]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Notes]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Notes]
GO
/****** Object:  Table [dbo].[tbl_LegalEntity]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_LegalEntity]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_LegalEntity]
GO
/****** Object:  Table [dbo].[tbl_Document]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Document]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Document]
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Customer]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Customer]
GO
/****** Object:  Table [dbo].[tbl_Country]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Country]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Country]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 09/05/2019 6:56:24 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
DROP TABLE [dbo].[Employees]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TitleId] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[GenderId] [int] NULL,
	[BirthDate] [datetime] NULL,
	[Email] [varchar](255) NOT NULL,
	[HomePhone] [varchar](15) NULL,
	[WorkPhone] [varchar](15) NULL,
	[MobilePhone] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Line1Address] [varchar](100) NULL,
	[Line2Address] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[StateId] [int] NULL,
	[ZipCode] [varchar](10) NULL,
	[ParentId] [int] NULL,
	[DateCreated] [datetime] NULL,
	[CreatedById] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[ProfilePicture] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Country]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Country]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tbl_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Customer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_Customer](
	[CustomerId] [bigint] IDENTITY(1,1) NOT NULL,
	[AgentId] [bigint] NOT NULL,
	[TitleId] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[GenderId] [int] NULL,
	[BirthDate] [datetime] NULL,
	[Email] [varchar](255) NOT NULL,
	[HomePhone] [varchar](15) NULL,
	[WorkPhone] [varchar](15) NULL,
	[MobilePhone] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Line1Address] [varchar](100) NULL,
	[Line2Address] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[StateId] [int] NULL,
	[ZipCode] [varchar](10) NULL,
	[ParentId] [int] NULL,
	[DateCreated] [datetime] NULL,
	[CreatedById] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedById] [int] NULL,
	[Active] [int] NULL,
	[Language] [int] NULL,
	[Nationality] [int] NULL,
	[ResidencePermitType] [int] NULL,
	[AHVNumber] [varchar](50) NOT NULL,
	[Profession] [varchar](100) NULL,
	[CareOfStreet] [varchar](100) NULL,
	[CareOfStreetNumber] [varchar](100) NULL,
	[CareOfZip] [varchar](10) NULL,
	[CareOfCity] [varchar](50) NULL,
	[CareOfCountry] [int] NULL,
	[Consultant] [int] NULL,
	[ProfilePicture] [nvarchar](50) NULL,
	[Country] [int] NULL,
	[MarriageStatus] [int] NULL,
 CONSTRAINT [tbl_Client] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Document]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Document]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_Document](
	[DocumentID] [bigint] IDENTITY(1,1) NOT NULL,
	[DocumentName] [nvarchar](50) NULL,
	[Extension] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[UploadedBy] [bigint] NULL,
	[UploadedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_Document] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_LegalEntity]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_LegalEntity]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_LegalEntity](
	[LEID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[CompanyName] [varchar](100) NULL,
	[Consultant] [varchar](255) NULL,
	[IdentificationNumber] [varchar](50) NULL,
	[Nationality] [int] NULL,
	[DateOfFoundation] [datetime] NULL,
	[Phone] [varchar](15) NULL,
	[Fax] [varchar](15) NULL,
	[Email] [varchar](255) NULL,
	[CustomerID] [bigint] NULL,
 CONSTRAINT [PK_tbl_LegalEntity] PRIMARY KEY CLUSTERED 
(
	[LEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Notes]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Notes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_Notes](
	[NotesId] [bigint] IDENTITY(1,1) NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[Notes] [varchar](50) NOT NULL,
	[DateCreated] [datetime] NULL,
	[CreatedById] [int] NULL,
	[DateModified] [datetime] NULL,
	[ModifiedById] [int] NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[NotesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_PrivatePerson]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_PrivatePerson]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_PrivatePerson](
	[PPID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [int] NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[LangOfCorrespondance] [bigint] NULL,
	[Gender] [int] NULL,
	[MarriageStatus] [int] NULL,
	[DateOfBirth] [datetime] NULL,
	[CustomerID] [bigint] NULL,
 CONSTRAINT [PK_tbl_PrivatePerson] PRIMARY KEY CLUSTERED 
(
	[PPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_RequestOffer]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_RequestOffer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_RequestOffer](
	[ROID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NULL,
	[brokerage] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[DocumentName] [nvarchar](50) NULL,
	[CustomerID] [bigint] NULL,
	[Size] [nvarchar](50) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_RequestOffer] PRIMARY KEY CLUSTERED 
(
	[ROID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tbl_State]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_State]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbl_State](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[StateName] [varchar](100) NULL,
	[Abbreviation] [varchar](10) NULL,
	[CountryID] [bigint] NULL,
 CONSTRAINT [PK_tbl_State] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginDate] [datetime] NULL,
	[CustomerId] [bigint] NULL,
	[ProfilePicture] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [TitleId], [FirstName], [MiddleName], [LastName], [GenderId], [BirthDate], [Email], [HomePhone], [WorkPhone], [MobilePhone], [Fax], [Line1Address], [Line2Address], [City], [StateId], [ZipCode], [ParentId], [DateCreated], [CreatedById], [DateModified], [ModifiedById], [ProfilePicture]) VALUES (8, 1, N'Vijay', N'T', N'Ramteke', 1, CAST(N'2019-08-05 00:00:00.000' AS DateTime), N'vijayramteke@gmail.com', N'232332323', N'232323232', N'3333333333', N'3333333333', NULL, NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[tbl_Country] ON 

INSERT [dbo].[tbl_Country] ([ID], [CountryName]) VALUES (1, N'United States')
INSERT [dbo].[tbl_Country] ([ID], [CountryName]) VALUES (2, N'Afghanistan')
INSERT [dbo].[tbl_Country] ([ID], [CountryName]) VALUES (3, N'Albania')
GO
SET IDENTITY_INSERT [dbo].[tbl_Country] OFF
SET IDENTITY_INSERT [dbo].[tbl_Customer] ON 

SET IDENTITY_INSERT [dbo].[tbl_Customer] OFF
SET IDENTITY_INSERT [dbo].[tbl_Document] ON 

INSERT [dbo].[tbl_Document] ([DocumentID], [DocumentName], [Extension], [Size], [UploadedBy], [UploadedOn]) VALUES (16, N'132119921546210832.xlsx', N'.xlsx', N'12', 16, CAST(N'2019-09-03 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Document] OFF
SET IDENTITY_INSERT [dbo].[tbl_Notes] ON 

INSERT [dbo].[tbl_Notes] ([NotesId], [CustomerId], [Notes], [DateCreated], [CreatedById], [DateModified], [ModifiedById]) VALUES (1, 1, N'FDfdv 
dfdfffff', CAST(N'2019-08-30 12:43:34.313' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[tbl_Notes] ([NotesId], [CustomerId], [Notes], [DateCreated], [CreatedById], [DateModified], [ModifiedById]) VALUES (2, 1, N'wdwafdsv fvfdfdfv', CAST(N'2019-09-03 11:52:09.613' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[tbl_Notes] ([NotesId], [CustomerId], [Notes], [DateCreated], [CreatedById], [DateModified], [ModifiedById]) VALUES (3, 4, N'fdfds gfgfdg', CAST(N'2019-09-03 11:53:10.633' AS DateTime), 16, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Notes] OFF
SET IDENTITY_INSERT [dbo].[tbl_RequestOffer] ON 

INSERT [dbo].[tbl_RequestOffer] ([ROID], [CompanyId], [brokerage], [Description], [DocumentName], [CustomerID], [Size], [CreatedBy], [CreatedOn]) VALUES (1, 1, N'fdfdfdf', N'fdgd gggggggggggggggg', N'132115614574468633.xlsx', 1, N'12', 1, CAST(N'2019-08-29 00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_RequestOffer] ([ROID], [CompanyId], [brokerage], [Description], [DocumentName], [CustomerID], [Size], [CreatedBy], [CreatedOn]) VALUES (2, 1, N'ddsd', N'dvfbgbf b ', N'132119672545728453.xlsx', 1, N'12', 13, CAST(N'2019-09-03 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_RequestOffer] OFF
SET IDENTITY_INSERT [dbo].[tbl_State] ON 

INSERT [dbo].[tbl_State] ([ID], [StateName], [Abbreviation], [CountryID]) VALUES (1, N'California', N'CA', 1)
INSERT [dbo].[tbl_State] ([ID], [StateName], [Abbreviation], [CountryID]) VALUES (2, N'Florida', N'FL', 1)
INSERT [dbo].[tbl_State] ([ID], [StateName], [Abbreviation], [CountryID]) VALUES (58, N'Texas', N'TX', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_State] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [EmployeeId], [UserName], [Password], [RoleId], [LanguageId], [IsActive], [LastLoginDate], [CustomerId], [ProfilePicture]) VALUES (1, 8, N'vramteke', N'123', 1, 1, 1, CAST(N'2019-09-05 17:35:36.507' AS DateTime), 0, N'132121602023342868.jpg')
INSERT [dbo].[Users] ([Id], [EmployeeId], [UserName], [Password], [RoleId], [LanguageId], [IsActive], [LastLoginDate], [CustomerId], [ProfilePicture]) VALUES (13, 0, N'smahore', N'123', 1, 1, 1, CAST(N'2019-09-03 12:23:39.777' AS DateTime), 1, N'132119646455982951.jpg')
INSERT [dbo].[Users] ([Id], [EmployeeId], [UserName], [Password], [RoleId], [LanguageId], [IsActive], [LastLoginDate], [CustomerId], [ProfilePicture]) VALUES (14, 0, N'Amit', N'123', 1, 1, 1, NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  StoredProcedure [dbo].[usp_FillStateDropDownListByCountryID]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_FillStateDropDownListByCountryID]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_FillStateDropDownListByCountryID] AS' 
END
GO

--EXEC [usp_FillStateDropDownListByCountryID] 1
ALTER PROCEDURE [dbo].[usp_FillStateDropDownListByCountryID]
	@CID	INT
AS
BEGIN
	SELECT ID, StateName, Abbreviation FROM tbl_State WHERE CountryID=@CID ORDER BY StateName
END


GO
/****** Object:  StoredProcedure [dbo].[usp_GetCountryList]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetCountryList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_GetCountryList] AS' 
END
GO

ALTER PROCEDURE [dbo].[usp_GetCountryList] 
AS
BEGIN
	
	SELECT ID, CountryName FROM tbl_Country ORDER BY ID, CountryName
END

GO
/****** Object:  StoredProcedure [dbo].[usp_GetDocumentList]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetDocumentList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_GetDocumentList] AS' 
END
GO







ALTER PROCEDURE [dbo].[usp_GetDocumentList]
	
AS
BEGIN
	SELECT [DocumentID]
      ,[DocumentName]
      ,[Extension]
      ,[Size]
      ,[UploadedBy]
      ,[UploadedOn]
  FROM [tbl_Document]
END





GO
/****** Object:  StoredProcedure [dbo].[usp_GetExportClientList]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetExportClientList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_GetExportClientList] AS' 
END
GO

ALTER PROCEDURE [dbo].[usp_GetExportClientList] 
AS
BEGIN
	
	SELECT * FROM tbl_Customer ORDER BY CustomerId
END

GO
/****** Object:  StoredProcedure [dbo].[usp_GetNotesList]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetNotesList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_GetNotesList] AS' 
END
GO


ALTER PROCEDURE [dbo].[usp_GetNotesList]
@CustomerID bigint	
AS
BEGIN
	  SELECT NotesId
      ,N.CustomerId
      ,N.Notes
      ,CONVERT(VARCHAR(10),N.DateCreated,101) AS DateCreated
      ,N.CreatedById
	  ,C.FirstName +' '+c.LastName as CustomerName
	  ,CONVERT(VARCHAR(10),N.DateModified,101) AS DateModified
      ,N.ModifiedById
	  FROM tbl_Notes N INNER JOIN tbl_Customer C ON N.CustomerId=C.CustomerId 
	  WHERE N.CustomerID=@CustomerID
	  ORDER BY DateCreated DESC
END


GO
/****** Object:  StoredProcedure [dbo].[usp_GetOfferList]    Script Date: 09/05/2019 6:56:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetOfferList]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_GetOfferList] AS' 
END
GO


ALTER PROCEDURE [dbo].[usp_GetOfferList]
@CustomerID bigint	
AS
BEGIN
	  SELECT RO.ROID
      ,RO.brokerage
      ,RO.CompanyId
      ,CONVERT(VARCHAR(10),RO.CreatedOn,101) AS DateCreated
      ,RO.CreatedBy
	  ,RO.Description
	  ,C.FirstName +' '+c.LastName as CustomerName
	 ,RO.CustomerID
	  FROM tbl_RequestOffer RO INNER JOIN tbl_Customer C ON RO.CustomerID=C.CustomerId 
	  WHERE RO.CustomerID=@CustomerID
	  ORDER BY DateCreated DESC
END


GO
