
@{
    ViewBag.Title = "Index";
}
<script src="~/Areas/Admin/Content/Pages/GuestRegistrationManagement/GuestRegistrationManagement.js"></script>
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container" style="width:100% !important">
        <div class="breadcrumb">
            <h4 class="">Guest Registration List</h4>
        </div>
        <div class="form-group clearfix panel">
            <div class="col-md-12">
                <div class="panel-heading">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <h3 class="panel-title">From Date</h3>
                            <input id="txtFromDate" type="text" class="form-control" value="@DateTime.Now.AddDays(-15).ToString("MM/dd/yyyy")">
                            <span class="input-group-btn" style="width:0% !important">
                                <button class="btn btn-primary search" type="button" id="iconFDate" style="margin-top: -60px;margin-left: 158px;"><i class="fa-calendar fa"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <h3 class="panel-title">To Date</h3>
                            <input id="txtToDate" type="text" class="form-control" value="@DateTime.Now.AddDays(+15).ToString("MM/dd/yyyy")">
                            <span class="input-group-btn" style="width:0% !important">
                                <button class="btn btn-primary search" type="button" id="iconTDate" style="margin-top: -60px;margin-left: 158px;"><i class="fa-calendar fa"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group  padding-top-25">
                            <button class='btn btn-next btn-primary' name='Search' value='Search' style="height: 34px;margin-top: -28px;" onclick="getGuestRegistrationList()"><i class="glyphicon glyphicon-search"></i> SEARCH</button>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <table id="tblGuestRegistration" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th style="background-color: #c7cdd566;color:#3d3939">Guest Name</th>
                                <th style="background-color: #c7cdd566;color:#3d3939">Tenant Name</th>
                                <th style="background-color: #c7cdd566;color:#3d3939">Phone</th>
                                <th style="background-color: #c7cdd566;color:#3d3939">Email</th>
                                <th style="background-color: #c7cdd566;color:#3d3939">From Date</th>
                                <th style="background-color: #c7cdd566;color:#3d3939">To Date</th>
                                <th style="background-color: #c7cdd566;color:#3d3939">View Identity</th>
                                <th style="background-color: #c7cdd566;color:#3d3939">View Vehicle Reg</th>
                                <th style="background-color: #c7cdd566;color:#3d3939">Guest Status</th>
                             
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#txtFromDate').datepicker();
        $('#txtToDate').datepicker();
        $("#iconFDate").click(function () {
            $("#txtFromDate").focus();
        });
        $("#iconTDate").click(function () {
            $("#txtToDate").focus();
        });
    });
</script>