@{
    ViewBag.Title = "Promotion";
}
<script src="~/Areas/Admin/Content/Pages/Promotion/Promotion.js"></script>
<input type="hidden" id="hdnSearchType_CR" value="1" />
<input type="hidden" id="hdnSearchType" value="1" />
<input type="hidden" id="hdnCurrentPage" value="1" />
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <div class="row">
            <div class="breadcrumb">
                <h4 class="">Promotion List</h4>
            </div>
            <div class="col-md-12  pr0  properties-page">
                <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                    <div class="panel-heading">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h3 class="panel-title">From Date</h3>
                                <input id="txtFromDate" type="text" class="form-control" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h3 class="panel-title">To Date</h3>
                                <input id="txtToDate" type="text" class="form-control" value="@DateTime.Now.ToString("MM/dd/yyyy")">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group  padding-top-25">
                                @*<input type='button' class='btn btn-next btn-primary' name='Search' value='Search' onclick="getPromotionList()" />*@
                                <button id="btnSearchPromotion" class='btn btn-next btn-primary' name='Search' style="text-transform:uppercase!important" onclick="buildPaganationPromotionList(1)"><i class="glyphicon glyphicon-search"></i> Search</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group  padding-top-25">
                                <button type="button" class="btn btn-success pull-right" id="newPromo" onclick="addPromotion()"><i class="fa fa-spinner fa-spin hidden"></i><i class="glyphicon glyphicon-plus"></i> <span id="newPromo">NEW</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group" id="divPagination_Promotion">
                        <div id="divPgn" class="col-sm-8 pagination">
                            <ul id="ulPagination_Promotion"></ul>
                        </div>
                        <div class="col-sm-3 padding-0 pull-right">
                            <div class="col-sm-6">
                                <label class="control-label">Row/Page</label>
                            </div>
                            <div class="col-sm-6">
                                <select id="ddlRPP_Promotion" class="form-control form-control-small pull-right"></select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body search-widget">
                        <div class="col-md-12 clear">
                            <table id="tblPromotion" class="table table-bordered table-hover table-striped" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="background-color: #c7cdd566;color:#3d3939">Promotion No.</th>
                                        <th style="background-color: #c7cdd566;color:#3d3939">Property</th>
                                        <th style="background-color: #c7cdd566;color:#3d3939">Promotion Title</th>
                                        <th style="background-color: #c7cdd566;color:#3d3939">Start Date</th>
                                        <th style="background-color: #c7cdd566;color:#3d3939">End Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#txtFromDate").datepicker();
        $("#txtToDate").datepicker();
    });
</script>
