@using ShomaRM.Models
@model LoginViewModel

@{
    ViewBag.Title = "Application Status";
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Application Status </h1>
            </div>
        </div>
    </div>
</div>
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <div class="col-md-12">
            <div class="box-for overflow">
                <div class="col-md-12 col-xs-12 login-blocks" style="min-height:200px;">
                    <h3 class="text-center">
                        @ViewBag.Status
                    </h3>
                    <h3 class="text-center">Thank you..</h3>
                </div>
            </div>
        </div>


    </div>
</div>

