@using ShomaRM.Models
@model LoginViewModel

@{
    ViewBag.Title = "Login";
}
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Sign in </h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->
<!-- register-area -->
<div class="register-area" style="background-color: rgb(249, 249, 249);">
    <div class="container">
        <input type="hidden" id="hndIsTempPass" value="0" />
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box-for overflow">
                <div class="col-md-12 col-xs-12 login-blocks">
                    <h2>Sign In : </h2>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form", id = "Loginform" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-red" })
                        if (ViewBag.Error == 1)
                        {
                            <span style="float: right;"><a href="~/Home/Index">Click here for Registation</a></span>
                        }

                            <form action="" method="post">
                                <div class="form-group">
                                    <label for="email" class="username">Email ID</label>
                                    <input type="text" class="form-control" id="UserName" name="UserName">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="username">Password</label>
                                    <input type="password" class="form-control" id="password" name="Password">
                                </div>

                                <div class="form-group">
                                    <div class="controls pull-left">
                                        <button type="submit" class="btn btn-primary username"> Sign in</button>
                                    </div>
                                    <div class="controls pull-right">
                                        <a href="javascript:void(0);" onclick="ForgetPassword()" class="pull-right username">Forgot Password?</a> <span class="username"><input type="checkbox" id="chkRemeber" /> Remember Me?</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <h5 style="margin:10px;text-align:center;">OR :</h5>
                                </div>
                                
                                <div class="form-group text-center">
                                    <button type="button" id="btnShowQuotationSignIn" class="btn btn-primary" onclick="showPopUpOnQuotationNo()">Sign In Using Quotation Number</button>
                                </div>
                            </form>
                    }
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-3 username"></div>
    </div>
</div>
<div id="popQuotationSignIn" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close pull-right" data-dismiss="modal" style="color:black;margin-right:-160px;">&times;</button>
        </div>
        <div class="modal-body">
            <div class="text-justify" id="divQuotationQuotationNo">
                <div class="form-group">
                    <label for="txtQuotationNo">Quotation #</label>
                    <input type="text" class="form-control" id="txtQuotationNo" name="QuotationNo">
                </div>
            </div>
            <div class="text-justify hidden" id="divQuotationUserName">
                <div class="form-group">
                    <label for="txtUserName">User Name</label>
                    <input type="text" class="form-control" id="txtQuotationUserName" name="UserName" disabled>
                </div>
            </div>
            <div class="text-justify hidden" id="divQuotationPassword">
                <div class="form-group">
                    <label for="txtQuotationPassword" id="lblQuotationPassword">Enter New Password</label>
                    <input type="password" class="form-control" id="txtQuotationPassword" name="Password">
                </div>
            </div>
            <div class="text-justify hidden" id="divQuotationConfirmPassword">
                <div class="form-group">
                    <label for="txtQuotationConfirmPassword">Enter New Confirm Password</label>
                    <input type="password" class="form-control" id="txtQuotationConfirmPassword" name="ConfirmPassword">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal" style="margin-right:6px;"> Close</button>
                <button type="button" class="btn btn-primary pull-right" style="margin-right:6px;" id="btnVerifyQuotation" onclick="verifyQuotationNo()"> Next</button>
                <button type="submit" class="btn btn-primary pull-right" style="margin-right:6px;" id="btnQuotationSignIn" onclick="signInUsingQuotationNo()"> Sign In</button>
            </div>
        </div>
    </div>
</div>
<div id="popForgetIn" class="modal">
    <div class="modal-header">
        <span class="close" data-dismiss="modal">&times;</span>
    </div>
    <!-- Modal content -->
    <div class="modal-content">
        <div id="forgtPassHead" class="text-center hide">
            <h5 class="username">Retrive Password</h5>
        </div>
        <div class="text-justify">
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="text" class="form-control" id="txtEmailForgetPassword" name="UserName">
            </div>
        </div>
        <div id="Signinbtn" class="text-center">
            <button type="submit" class="btn btn-primary" onclick="RetrieveForgetPasswordss()"> Verify</button>
            <a href="javascript:void(0);" onclick="SignInPass();" class="pull-right" style="padding-top:2%">Go Back</a>
        </div>
    </div>

</div>

<script>
    function ForgetPassword() {
        $("#popForgetIn").modal({
            backdrop: 'static',
            keyboard: false
        });
    };
    function SignInPass() {
        $("#popForgetIn").modal('hide');
    };

    var RetrieveForgetPasswordss = function () {
        var msg = "";
        var email = $("#txtEmailForgetPassword").val();

        if (email == "") {
            msg += "Enter Registerd Email ID</br>";
        }

        if (msg != "") {
            $.alert({
                title: "",
                content: msg,
                type: 'red'
            });
            return;
        }

        var model = {
            Email: email,
        };
        $.ajax({
            url: "/ApplyNow/ForgetPassword/",
            type: "post",
            contentType: "application/json utf-8",
            data: JSON.stringify(model),
            dataType: "JSON",
            success: function (response) {
                var msg = response.model.Message;

                if (msg == "Invalid UserName") {
                    $.alert({
                        title: "",
                        content: "Invalid UserName Please Try With Valid Id",
                        type: 'red'
                    });
                }
                else {
                    $.alert({
                        title: "",
                        content: "Password send to your registered email",
                        type: 'red'
                    });
                }
            }


        });
    };
    var signInUsingQuotationNo = function () {
        var msg = "";
        var quotationNo = $("#txtQuotationNo").val();
        var password = $("#txtQuotationPassword").val();
        var confirmPassword = $("#txtQuotationConfirmPassword").val();
        var userName = $("#txtQuotationUserName").val();
        var isTempPass = $("#hndIsTempPass").val();

        //if (!quotationNo) {
        //    msg += "Enter Quotation No</br>";
        //}
        if (!password) {
            msg += "Please fill the Password </br>";
        } else {
            if (parseInt(isTempPass) == 1) {
                var result = checkStrength(password);
                if (!result) {
                    return;
                }
                if (password != confirmPassword) {
                    msg += "Password and Confirm Password must be the same</br>";
                }
            }
        }
        if (msg != "") {
            $.alert({
                title: "",
                content: msg,
                type: 'red'
            });
            return;
        }

        var model = {
            QuotationNo: quotationNo, UserName: userName, Password: password, IsTempPass:isTempPass
        };
        $.ajax({
            url: "/Applynow/SignInUsingQuotationNo",
            type: "post",
            contentType: "application/json utf-8",
            data: JSON.stringify(model),
            dataType: "JSON",
            success: function (response) {
                if (parseInt(isTempPass) == 1) {
                    $.alert({
                        title: "",
                        content: "Password changed successfully",
                        type: 'red'
                    });
                    setTimeout(function () {
                        window.location = "/Account/Login/";
                    }, 1500)
                } else {
                    window.location = response;
                }
            }
        });
    };

    var showPopUpOnQuotationNo = function () {
        $('#txtQuotationNo').attr('disabled', false);
        $('#txtQuotationNo').val('');
        $('#txtQuotationUserName').val('');
        $('#txtQuotationPassword').val('');
        $('#txtQuotationConfirmPassword').val('');
        $('#divQuotationQuotationNo').removeClass('hidden');
        $('#divQuotationUserName').addClass('hidden');
        $('#divQuotationPassword').addClass('hidden');
        $('#divQuotationConfirmPassword').addClass('hidden');
        $('#btnVerifyQuotation').removeClass('hidden');
        $('#btnQuotationSignIn').addClass('hidden');
        $('#popQuotationSignIn').modal('show');
        $('#lblQuotationPassword').text("Enter New Password");
    }

    var verifyQuotationNo = function () {
        var msg = "";
        var quotationNo = $("#txtQuotationNo").val();

        if (!quotationNo) {
            msg += "Enter Quotation No</br>";
        }
        if (msg != "") {
            $.alert({
                title: "",
                content: msg,
                type: 'red'
            });
            return;
        }

        var model = {
            QuotationNo: quotationNo
        };
        $.ajax({
            url: "/Applynow/VerifyQuotationNo",
            type: "post",
            contentType: "application/json utf-8",
            data: JSON.stringify(model),
            dataType: "JSON",
            success: function (response) {
                if (response == "Quotation Number Not Found") {
                    $.alert({
                        title: "",
                        content: response,
                        type: 'red'
                    });
                }
                else {
                    var result = response.split('|');
                    $('#hndIsTempPass').val(result[1]);
                    $('#txtQuotationNo').attr('disabled', true);
                    $('#divQuotationUserName').removeClass('hidden');
                    $('#txtQuotationUserName').val(result[0]);
                    if (result[1] == 1) {
                        $('#divQuotationConfirmPassword').removeClass('hidden');
                        $('#lblQuotationPassword').text("Enter New Password");
                    }
                    else {
                        $('#lblQuotationPassword').text("Enter Password");
                        $('#divQuotationConfirmPassword').add('hidden');
                    }
                    $('#divQuotationPassword').removeClass('hidden');
                   
                    $('#btnVerifyQuotation').addClass('hidden');
                    $('#btnQuotationSignIn').removeClass('hidden');
                }
            }
        });
    }
</script>

